@import "@esri/calcite-components/main.css";
@import "https://js.arcgis.com/5.0/@arcgis/core/assets/esri/themes/light/main.css";

/* Esri Developer & Technology Summit Demo Template */
/* Demo template supporting styles */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

calcite-menu-item {
  --calcite-menu-background-color: var(--calcite-color-background);
}

calcite-navigation-logo {
  --calcite-navigation-logo-heading-color: var(--calcite-color-brand);
}

calcite-shell-panel[slot="panel-start"] calcite-panel {
  border-top: 0;
}

calcite-action-pad {
  margin-inline-end: 0.5rem;
}

#modal hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--calcite-color-border-3);
}

#modal ul li {
  margin-bottom: 0.5rem;
}

#modal calcite-notice {
  margin-bottom: 1.25rem;
}

/* Esri Developer & Technology Summit Demo Template */
/* App-specific supporting styles below */

.grid-container {
  margin: 2rem;
  height: 100%;
  max-height: calc(100% - 64px);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(18rem, 0.5fr) 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 1fr;
  gap: 2rem 2rem;
  grid-template-areas:
    "panel-start panel-map panel-map"
    "panel-start panel-map panel-map"
    "panel-start panel-results panel-results";
}
.panel-map {
  grid-area: panel-map;
}

.panel-results {
  grid-area: panel-results;
}

.panel-start {
  grid-area: panel-start;
}

.grid-container calcite-panel {
  box-shadow: var(--calcite-shadow-sm);
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "panel-start" "panel-map" "panel-results";
  }
  .panel-start {
    max-height: 40vh;
  }
  .panel-map {
    height: 40vh;
  }
}

/* calcite-panel {
  border-block-start: 0;
} */

calcite-shell {
  background-color: var(--calcite-color-background);
}

calcite-label:last-of-type {
  --calcite-label-margin-bottom: 0;
}

calcite-list-item calcite-chip {
  margin-inline-end: 0.5rem;
}

/* Esri Developer & Technology Summit Demo Template */
/* Custom styles below */

.esri-feature {
  padding: 1rem;
}

.popup-chips {
  list-style-type: none;
  display: flex;
  font-size: 24px;
  padding: 0;
}

.filter-container {
  --calcite-font-size-0: var(--calcite-font-size-2);
  --calcite-color-foreground-2: honeydew;

  grid-row-end: 4;

  position: sticky;
  bottom: 0;
  padding: min(2vh, 2rem) min(2vw, 2rem);

  background-color: var(--calcite-color-foreground-3);
  box-shadow: var(--calcite-shadow-md);

  @media (min-width: 768px) {
    --calcite-font-size-0: var(--calcite-font-size-3);

    grid-row-end: auto;

    top: 0;
    bottom: auto;
    max-height: 100dvh;
    padding: min(2vh, 2rem) min(1vw, 1rem);
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(300px, calc(25% - min(2vw, 2rem))), 1fr)
  );
  grid-auto-rows: max-content;
  grid-row-end: 3;
  gap: min(2vh, 2rem) min(2vw, 2rem);
  padding: min(4vh, 2rem) min(4vw, 2rem);

  @media (min-width: 768px) {
    grid-row-end: auto;
  }
}

.farm {
  display: grid;
  grid-template-columns: 1fr minmax(0, max-content);
  grid-template-rows: auto 1fr auto;
  gap: min(1vh, 1rem) min(1vw, 1rem);

  background-color: var(--calcite-color-foreground-1);
  color: var(--calcite-color-text-3);

  border: 1px solid var(--calcite-color-border-1);
  border-radius: var(--calcite-corner-radius);

  box-shadow: var(--calcite-shadow-sm);

  header {
    padding: min(1vh, 1rem) min(2vw, 2rem) 0;

    font-size: 115%;
  }

  h6 {
    margin: 0;

    font-size: 125%;

    color: var(--calcite-color-text-2);
  }

  p {
    margin: 0;
  }

  .description {
    padding: 0 min(2vw, 2rem);
  }

  .products {
    grid-row: 1 / span 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    gap: min(0.5vh, 0.5rem) min(0.5vw, 0.5rem);

    margin: 0;
    padding: min(1vh, 1rem) min(1vw, 1rem);

    background-color: var(--calcite-color-foreground-2);

    list-style: none;

    border-left: 1px solid var(--calcite-color-border-2);

    li {
      font-size: 1.5rem;
    }
  }

  footer {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    gap: min(2vw, 2rem) min(2vh, 2rem);

    padding: 0 min(1vw, 1rem) min(1vh, 1rem);
  }
}